*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.relativ
{
    position: relative;
}

    #map
    {
        height: 100vh;

    }

    .form
    {
        width: 200px;
        position:absolute;
        top: 0;
        right: 0;
        background:linear-gradient(0.25turn,rgb(204, 204, 204),rgb(228, 228, 228)) ;
        border-bottom-left-radius: 10px;
        padding: 15px;
        display: flex;
        flex-direction: column;
    }
        .form > *
        {
            padding: 10px;
        }

        .form > * *
        {
            width: 100%;
            padding: 10px;
            resize: none;
        }
.error
{
    background-color: rgb(187, 26, 26);
    border: red 2px solid;
}

.button-reset
{
    background:linear-gradient(0.25turn,rgb(204, 204, 204),rgb(228, 228, 228)); 
    left: 100px;
    padding: 10px;      
    position: absolute;
    top: 20px;
    pointer-events: auto;
}

    .button-reset button
    {
        cursor: pointer;
    }

.mapboxgl-popup-content 
{
    margin: 0;
    padding: 0 0 0 5px;

}

    .mapboxgl-popup-content > *:not(.mapboxgl-popup-close-button)
    {
        padding-right: 10px;
    }

